body {
  margin: 0;
  height: 100vh;
  background: #DDD;
}


.container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1000px;
}

.header {
  text-align: center;
}

#table {
  border: 1px solid black;
}

.game {
  width: 480px;
}

.game__kills {
  display: flex;
  flex-wrap: wrap;
  height: 40px;
  align-items: center;
}
.game__kills img {
  width: 40px;
}

.controls {
  width: 45%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 30px;
}

.controls__start {
  display: block;
  margin: 0 auto;
  height: 50px;
  background-color: #009900;
  border: 0;
  border-radius: 40px;
  color: white;
  font-size: 20px;
  width: 50%;
}

.controls__start:focus {
  outline: 0;
}

.player {
  text-align: center;
}

.player__name {
  display: flex;
}

.player__name input {
  flex-grow: 1;
  margin-left: 10px;
}

.player__decitions {
  display: flex;
  justify-content: space-between;
  margin: 20px auto 0;
  max-width: 200px;
}
.player__decitions button {
  height: 40px;
  background-color: #555;
  color: white;
  border: 0;
  border-radius: 5px;
}

.promotion {
  position: fixed;
  background-color: #00000055;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
}

.promotion__list {
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
  height: 100px;
  background: white;
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: -180px;
  z-index: 100;
  transition-duration: .5s;
}
.inUp {
  transform: translateY(300%);
  transition-duration: .5s;
}

.ocult {
  display: none;
}